<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions go here, outside <application> -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="milk_delivery"
        android:theme="@style/AppTheme">
        <!-- Activities etc. -->
    </application>
</manifest>
